

<div class="delivery">
    <div class="border">
        <div class="head_line">
            <h3>Delivery</h3>
        </div>
        <h3 class="time">{{minutes}} : {{seconds}}</h3>
        <div class="road">
            <div class="house_div">
                <img src="../../assets/images/house.png" alt="">
            </div>
            <div id="cycle_div" class="cycle_div">
                <img src="../../assets/images/cycle.png" alt="">
            </div> 
        </div> 
        <div class="road_view"></div>
    </div>
</div>
