<div class="introduction">
    <div class="border">
        <p>If you order from our site, you can know what your order status is at any given moment.</p>
        <p>The dishes are prepared one after the other. Each dish has a different preparation time. After placing the order, you can tell how much time is left for each dish until it is ready in real time.</p>
        <p>Each extra per dish will increase the preparation time by 2 minutes and add 5&#8362; more.</p>
        <p>You can see all the dishes you ordered under the 'My Order' tab. In addition, you will see the preparation time and the total price.</p>
        <p>The information on each dish you ordered will be updated in real time. The information includes: price, extras and preparation time.</p>
        <p>Once your order is ready, the shipment will leave for your home and you will be able to see the messenger location in relation to your home in real time.</p>
    </div>
</div>
