* {
    margin: 0;
    padding: 0;
}

  /*  width: 100%;
    height: 100%;
    background-image: url("https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/hand-held-bbq-favorites-royalty-free-image-694189032-1564779029.jpg?resize=480:*"); 
}*/
/*.main {
    background-image: url("http://sf.co.ua/14/02/wallpaper-1230918.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}*/